.UuiProductBuilder {
    &__header {
        margin: 66px -24px 0 -24px !important;
      
    }

    &__topic {
        margin-bottom: 8px !important;
    }

    &__section {
        margin-bottom: 24px;
    }

    &__radioGroup {
        margin-left: 24px !important;
    }

    &__other {
        &__switchSubGroup {
            margin-left: 24px;
        }

        &__flexItem {
            margin-bottom: 24px;
            @include respond-to("small") {
                display: flex;
                & > div:first-child {
                    width: 25%;
                }
            }
        }
    }
}
