.boxShadow {
    &__bg1 {
      box-shadow: 0px 0px 1px 0px #508fb9;
    }
  
    &__bg2 {
      box-shadow: 0 2px 2px 0 rgba(96, 91, 91, 0.2509803922);
    }
  
    &__bg3 {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
  
  