// $preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$secondary_font: "Poppins", sans-serif !default;

//colors

$primary-color: #005eb8;
$primary-color-dark: #064582;

$box-primary-color: #1565c0;
$link-button-color: #005eb8;
$weathered-stone-color: #c7c7c7;
$cotton-boll-color: #e6f4ff;
$dawn-gray: #a0a0a087;

$subheader-color: #474842;
$secondary-color: #59a8a5;
$secondary-color-dark: #196260;
$klimt-green-color: #459f84;
$dark-gray-color: #323232;
$dark-color: #272525;
$gray-color: #787878;
$sheade-color-gray: #919191;
$gray-color-dark: #666;
$natural-gray-color: #ececec;
$shade-white-color: #f8f8f8;
$shade-color: #ededed;
$gray-web-color: #5f676e;
$light-color-gray: #dfdfdf;
$white-shade-gray: #eeeeee;
$light-color:#F9F9F9;
$spanish-gray-color: #979797;
$light-color-green: #d5f9e3;
$shalimae-color: #f6fba4;
$sky-blue-color: #bae0fb;
$dark-color-green: #064128;
$black-color: #000000;
$header-text-color: #252323;
$text-fill-color: #1e1e1e;
$dark-blue: #0b72851a;
$biscay-bay-color: #0b7285;
$white-color: #ffffff;
$outline-color: #f7f4f4;
$aircraft-white: #eff1f7;
$accordion-svg: #2d3237;
$accordion-back-color: #e2e9ef;
$shade-light-gereen: #2b8a3e;
$text-color: #474842;
$subtletext-color: #747570;
$light-cloud-color:#D9D9D9;
$light-color-blue: #1137be;

$error-color: #D32F2F;
$success-color: #3F7D20;
$warning-color: #D4B011;
$info-color: #0B72B7;

$light-shage-gray: #545454;
$smoke-color: #f9f9f9;
$iris-color: #5d5fef;
$barossa-color: #99235c;

$table-shadow-color: #d7d7d7;
$iris-light-color: #7879f1;
$violin-color: #ffa630;
$border-color: #e8e8e8;
$tertiary-color: #c2caec;
$tertiary-dark-color: #8596d9;
$login-border-color: #ebebeb;
$login-header-text-color: #272526;

$dash-outstanding-premium: #2da8c3;
$dash-outstanding-premium-dark: #1e869d;
$dash-prospect-status: #039487;
$dash-prospect-status-dark: #048075;
$dash-outstanding-premium-last: #ff9800;
$dash-outstanding-premium-last-dark: #e08806;
$drawer-top-bar-border: #ececec;
$font-scale-color: #768C9F;
$referenceCard-color: #A3B0E2;

$color-palatte-item-color: #2e343899;
$color-palatte-colorName-color: #2E3438;

//status Chips//

//*******Active*******//
$status-active-outline-color:#9FE19B;
$status-active-text-color:#10C201;
$status-active-background-color:#E7F9E6;

//*******Inactive*******//
$status-inactive-outline-color:#FBC2C2;
$status-inactive-text-color:#D32F2F;
$status-inactive-background-color:#FBEAEA;

//*******Complete*******//
$status-complete-outline-color:#CAB9FB;
$status-complete-text-color:#6A48CA;
$status-complete-background-color:#F0EDFA;

//*******approved*******//
$status-approved-outline-color:#9CD2CE;
$status-approved-text-color:#039487;
$status-approved-background-color:#E6F4F3;

//*******Rejected*******//
$status-rejected-outline-color:#FFCFCF;
$status-rejected-text-color:#D32F2F;
$status-rejected-background-color:#FBEAEA;

//*******Pending*******//
$status-pending-outline-color:#FFDBA3;
$status-pending-text-color:#FF9800;
$status-pending-background-color:#FFF5E5;

//*******Onhold*******//
$status-onhold-outline-color:#CECECC;
$status-onhold-text-color:#656564;
$status-onhold-background-color:#F0F0EF;

//*******Blacklisted*******//
$status-blacklisted-outline-color:#C8C8C8;
$status-blacklisted-text-color:#272525;
$status-blacklisted-background-color:#E9E9E9;

//*******Confirmed*******//
$status-confirmed-outline-color:#8BBFE3;
$status-confirmed-text-color:#0B72B7;
$status-confirmed-background-color:#E7F1F8;

//*******Issued*******//
$status-issued-outline-color:#C1D696;
$status-issued-text-color:#495F20;
$status-issued-background-color:#EDEFE9;

$loging-sub-header:#868686;
$loging-bubbls-color:#ffffff8f;
$bubbles-backgroun-color:#ffffff9e;
$gradient-color-loging:#e3e5e7;
$branch-chip-back: #F3F5FE;
$signature-box-backgroun-color:#e1e1e1 ;
